Repository AthenaSulisMinerva/CombatExtendedFastTrack, pull requests merged in 2019-11, with the labels that each got.

#111 Sync with upstream repo - v1.0.1.6 v2
  Patches/Arachne/AlienRace_Arachne.xml
  Patches/Arachne/Apparel_Arachne.xml
  Patches/Arachne/Leather_Arachne.xml
  Patches/Arachne/MeleeWeapons_Arachne.xml
  Patches/Arachne/PawnKind_Arachne.xml
  Patches/Arachne/Weapons_Arachne.xml
Labels: mod patch

#115 Sync with upstream repo - v1.0.1.6 v3
  Patches/RimEffect Asari/Asari_Race.xml
Labels: mod patch

#116 Sync with upstream repo - v1.0.1.6 v4
  Defs/ThingCategoryDefs/ThingCategories.xml
  Defs/ThingDefs_Misc/Apparel_Shield.xml
  Patches/ADogSaid/Bionics.xml
  Patches/CuprosAlloys/ThingDefs/Patch_Materials_Alloy_Advanced.xml
  Patches/CuprosAlloys/ThingDefs/Patch_Materials_Alloy_Decorative.xml
  Patches/CuprosAlloys/ThingDefs/Patch_Materials_Alloy_Utility.xml
  Patches/CuprosAlloys/ThingDefs/Patch_Materials_BaseMetal.xml
  Patches/Cybernet/HediffDefs/Hediffs_CyberNet_BodyParts.xml
  Patches/EPOE/Bionics.xml
  Patches/GouRIMet/Items_GouRIMet.xml
  Patches/Hand- and Footwear/ThingDefs_Misc/HnF_Apparel_Footwear.xml
  Patches/Hand- and Footwear/ThingDefs_Misc/HnF_Apparel_Handwear.xml
  Patches/O21 Races/Elven Faction/PawnKindDefs/Elves_PawnKinds.xml
  Patches/O21 Races/Elves/Scenarios/Scenarios.xml
  Patches/O21 Races/Elves/ThingDefs_Races/Race_ElfBase.xml
  Patches/O21 Races/Goblin Faction/PawnKindDefs/Goblins_PawnKinds.xml
  Patches/O21 Races/Goblins/Scenarios/Scenarios.xml
  Patches/O21 Races/Goblins/ThingDefs_Races/Race_Goblin.xml
  Patches/O21 Races/Kobolds/Scenarios/Scenarios.xml
  Patches/O21 Races/Kobolds/ThingDefs_Races/Race_Kobold.xml
  Patches/RBSE/Bionics.xml
  Patches/RoM - Bones/ThingDefs_Items/Patch_Items_Apparel_BoneMasks.xml
  Patches/Spartan Foundry/ThingDefs_Misc/Patch_Apparel_Headgear.xml
  Patches/Vanilla Apparel Expanded/Patch_Apparel_Footwear.xml
  Patches/Vanilla Apparel Expanded/Patch_Apparel_Handwear.xml
  Patches/Vanilla Apparel Expanded/Patch_Apparel_Industrial.xml
  Patches/Vanilla Apparel Expanded/Patch_Apparel_Medieval.xml
  Patches/Vanilla Apparel Expanded/Patch_Apparel_Neolithic.xml
  Patches/Vanilla Apparel Expanded/Patch_Headgear_Industrial.xml
  Patches/Vanilla Armour Expanded/Patch_Armor_Footwear.xml
  Patches/Vanilla Armour Expanded/Patch_Armor_Handwear.xml
  Patches/Vanilla Armour Expanded/Patch_Armor_Industrial.xml
  Patches/Vanilla Armour Expanded/Patch_Armor_Medieval.xml
  Patches/Vanilla Armour Expanded/Patch_Armor_Neolithic.xml
  Patches/Vanilla Armour Expanded/Patch_Armor_Spacer.xml
  Patches/Vanilla Armour Expanded/Patch_Headgear_Industrial.xml
Labels: base CE mod issue, mod patch

#117 Sync with upstream repo - v1.0.1.6 v5
  Patches/Dinosauria/Races_Animal_Dinosauria.xml
  Patches/Vanilla Bionics Expansion/HediffDefs/FSFAdvancedBionics_AddedParts.xml
  Patches/Vanilla Bionics Expansion/HediffDefs/FSFBionics_AddedParts.xml
Labels: mod patch

#118 Sync with upstream repo - v1.0.1.6 v6
  Patches/Dinosauria/Races_Animal_Dinosauria.xml
Labels: mod patch

#121 Sync with upstream repo - v1.0.1.6a v1
  Assemblies/CombatExtended.dll
  Defs/Ammo/Pistols/9x19mmPara.xml
  Defs/Ammo/Pistols/9x19mmPara_NL.xml
  Defs/Ammo/Rifle/545x39mmSoviet.xml
  Defs/Ammo/Rifle/556x45mmNATO.xml
  Defs/Ammo/Rifle/762x39mmSoviet.xml
  Defs/Ammo/Rifle/762x51mmNATO.xml
  Defs/Ammo/Rifle/762x51mmNATO_NL.xml
  Defs/ThingDefs_Misc/Apparel_Headgear.xml
  Patches/Core/HediffDefs/Hediffs_Local_AddedParts.xml
  Patches/Core/Stats/Stats.xml
  Patches/MiningCo. MiningHelmet/MiningCoApparel_HelmetAndVest.xml
  Source/CombatExtended/CombatExtended/Verbs/Verb_MeleeAttackCE.cs
Labels: ammo patch, base CE mod issue, mod patch

#122 Sync with upstream repo - v1.0.1.6a v2
  Patches/Dinosauria/Items_Resource_Dinosauria_Items.xml
  Patches/Dinosauria/Items_Resource_Dinosauria_Stuff_Leather.xml
Labels: mod patch

#123 Sync with upstream repo - v1.0.1.6a v3
  Patches/Android Tiers/Ammo/81mmMortar_Nanoshell.xml
  Patches/Android Tiers/Bodies/Mod_Bodies_AT_ABird.xml
  Patches/Android Tiers/Bodies/Mod_Bodies_AT_K9.xml
  Patches/Android Tiers/Bodies/Mod_Bodies_AT_M7Mech.xml
  Patches/Android Tiers/Bodies/Mod_Bodies_AT_Miniscyther.xml
  Patches/Android Tiers/Bodies/Mod_Bodies_AT_Muff.xml
  Patches/Android Tiers/Bodies/Mod_Bodies_AT_T4Android.xml
  Patches/Android Tiers/Hediffs/Hediffs_Android.xml
  Patches/Android Tiers/PawnkindDefs/PawnKinds_Android.xml
  Patches/Android Tiers/ThingDef_Misc/Weapons_Guns.xml
  Patches/Android Tiers/ThingDef_Races/AlienRace_Androids.xml
  Patches/Android Tiers/ThingDef_Races/Races.xml
Labels: mod patch

#126 Sync with upstream repo - v1.0.1.6a v4
  Patches/Androids/AlienRace/AlienRace_Chj.xml
  Patches/Androids/Bodies/Mod_Bodies_Droid.xml
  Patches/Androids/HediffDefs/Hediffs_Upgrades.xml
  Patches/Androids/PawnkindDefs/PawnKinds.xml
  Patches/Androids/ScenarioDefs/ScenarioDefs.xml
  Patches/Androids/ThingDefs_Misc/Apparel.xml
  Patches/Androids/ThingDefs_Misc/Weapons_Guns.xml
Labels: mod patch

#131 Sync with upstream repo - v1.0.1.6b v1
  Patches/Dragonian Race/ThingDefs_Bodies/Dragonian_Bodytype.xml
  Patches/Dragonian Race/ThingDefs_Items/Items_Resource_Stuff.xml
  Patches/Dragonian Race/ThingDefs_Misc/DR_Apparel.xml
  Patches/Dragonian Race/ThingDefs_Races/Race_Dragonian.xml
  Patches/Kurin/Bodies/Mod_Bodies_Kurin.xml
  Patches/Kurin/PawnKindDefs/DRNTF_PawnKind.xml
  Patches/Kurin/Scenario/DRNTF_Scenario.xml
  Patches/Kurin/ThingDef_Misc/DRNTF_Apparel.xml
  Patches/Kurin/ThingDefs_Races/Race_DRNTF.xml
Labels: mod patch

#134 Sync with upstream repo - v1.0.1.6b v6
  Patches/Rabbie The Moonrabbit/Bodies/Rabbie_Bodytype.xml
  Patches/Rabbie The Moonrabbit/PawnKindDefs/RB_PawnKind.xml
  Patches/Rabbie The Moonrabbit/Scenario/RB_Scenario.xml
  Patches/Rabbie The Moonrabbit/ThingDefs_Items/Items_Resource_Stuff.xml
  Patches/Rabbie The Moonrabbit/ThingDefs_Misc/RB_Apparel.xml
  Patches/Rabbie The Moonrabbit/ThingDefs_Misc/Weapons_Guns.xml
  Patches/Rabbie The Moonrabbit/ThingDefs_Races/AlienRace_Rabbielike.xml
Labels: mod patch

#141 Sync with upstream repo - v1.0.1.8 v2
  Patches/Fate Grand Order Styles Pack/ThingDefs_Misc/Apparel_FGO.xml
  Patches/Flak Dusters/ThingDefs_Misc/Apparel_FD.xml
  Patches/Girls Frontline Styles 404 Team/ThingDefs_Misc/Apparel_404Team.xml
  Patches/SS Maid Project/ThingDefs_Misc/Apparel.xml
Labels: mod patch

#159 Sync with upstream repo - v1.0.1.8.2 v6
  Patches/Dragons!/ThingDefs_Races/Patch_Races_Animal_Dragons.xml
  Patches/Vanilla Armour Expanded/Patch_Armor_Spacer.xml
  Patches/Xenohumans/Races_Designermate_XH.xml
  Patches/Xenohumans/Races_Scaleman_XH.xml
  Patches/Xenohumans/Races_Soldiermorph_XH.xml
  Patches/Xenohumans/Races_Wolfman_XH.xml
Labels: mod patch

#161 Rebalance More Mechanoids Assaulter weapon ammunition type
  Patches/MoreMechanoids/ThingDefs_Misc/Weapons_Mechanoid.xml
Labels: mod patch

#165 Sync with upstream repo - v1.0.1.8.2 v7
  Patches/Core/Bodies/Bodies_Humanlike/Human.xml
Labels: misc

#169 Sync with upstream repo - v1.0.1.8.2 v8
  Patches/Cybernetic Organism and Neural Network/Hediffs/Patch_Android_hediffs.xml
  Patches/Cybernetic Organism and Neural Network/Hediffs/Patch_Cyborg_hediffs.xml
  Patches/Dragons!/ThingDefs_Items/Patch_Item_Leather_Dragons.xml
  Patches/Medical System Expansion/HediffDefs/Hediffs_AddedModules/Patch_Hediffs_AddedModules_Archotech.xml
  Patches/Medical System Expansion/HediffDefs/Hediffs_AddedModules/Patch_Hediffs_AddedModules_ArchotechSpecial.xml
  Patches/Medical System Expansion/HediffDefs/Hediffs_AddedModules/Patch_Hediffs_AddedModules_Bionic.xml
  Patches/Medical System Expansion/HediffDefs/Hediffs_AddedModules/Patch_Hediffs_AddedModules_BionicSpecial.xml
  Patches/Medical System Expansion/HediffDefs/Hediffs_AddedParts/Hediffs_AddedParts.xml
  Patches/Medical System Expansion/HediffDefs/Hediffs_AddedParts/Patch_Hediffs_AddedParts_Archotech.xml
  Patches/Medical System Expansion/HediffDefs/Hediffs_AddedParts/Patch_Hediffs_AddedParts_ArchotechSpecial.xml
  Patches/Medical System Expansion/HediffDefs/Hediffs_AddedParts/Patch_Hediffs_AddedParts_Bionic.xml
  Patches/Medical System Expansion/HediffDefs/Hediffs_AddedParts/Patch_Hediffs_AddedParts_BionicSpecial.xml
  Patches/Medical System Expansion/HediffDefs/Hediffs_AddedParts/Patch_Hediffs_AddedParts_Simple.xml
  Patches/Medical System Expansion/HediffDefs/Hediffs_AddedParts/Patch_Hediffs_AddedParts_VanillaArchotech.xml
  Patches/Medical System Expansion/HediffDefs/Hediffs_AddedParts/Patch_Hediffs_AddedParts_VanillaBionic.xml
  Patches/Medical System Expansion/HediffDefs/Hediffs_AddedParts/Patch_Hediffs_AddedParts_VanillaSimple.xml
Labels: mod patch
