Repository AthenaSulisMinerva/CombatExtendedFastTrack, pull requests merged in 2020-01, with the labels that each got.

#235 Sync with upstream repo - v1.0.1.8.2 v14
  Defs/Ammo/Neolithic/Arrows.xml
  Defs/Ammo/Neolithic/GreatArrows.xml
Labels: ammo def

#241 Sync with upstream repo - v1.0.1.8.2 v15
  Patches/Black Widows/ThingDefs_Items/Patch_Items_Resources.xml
Labels: mod compatiblity patch

#247 Sync with upstream repo - v1.0.1.8.2 v16
  Patches/Simply More Melee/SMM_MeleeWeapons_CE.xml
Labels: mod compatiblity patch

#252 Sync with upstream repo - v1.0.1.8.2 v17
  Patches/MiscRobots/AIRobot_RacesCE.xml
Labels: mod compatiblity patch

#273 Revert assembly internal version number to 1.0.1.6
  Assemblies/CombatExtended.dll
  Source/CombatExtended/Properties/AssemblyInfo.cs
Labels: misc
